@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AWS CICD .NET APPLICATION</h1>
    <h2>Team 7 dojo usecase 2.0</h2>
    <h3>Web Page designed by Siva Kumar</h3>
</div>